/*font-family: 'Quicksand', sans-serif;
font-family: 'Nunito', sans-serif;*/

* {
  box-sizing: border-box;
}

body {
  background-color: #A8E1FF;
}

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #FF8100;
  border: 2px solid #005A8A;
  color: white;
  font-family: Nunito;
}
.wrapper::after {
  clear: both;
  content: "";
  display: block;
}


header.head {
  font-family: Quicksand;
  background-color: #005A8A;
  color: white;
  text-align: center;
  vertical-align: middle;
}

h3.name {
  font-size: 1.5em;
  color: #005168;
  text-align: center;
  vertical-align: middle;
}

.testers-item {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

ul.testers-list-items {
  width: 100%;
	list-style: none;
	padding-top: 20px;
	}
	ul.testers-list-items li {
		display: inline-block;
    height: 400px;
    width: 51%;
	}

ul.search-criteria {
  list-style: none;
}

.table {
  margin: 0 auto;
  display: table;
}

.experience {
  color: #00456A;
}
